<div class="container new-itinerary-container">
    <h1>Share your itinerary with other travelers</h1>
  <div class="form-new-itinerary">
      <%= simple_form_for [ @city, @itinerary ], html: {class: "grid"} do |f| %>
        <%# <%= f.simple_fields_for :stops do |stops| %>
          <%# <%= stops.input :content %>
        <%# <% end %>
        <%= f.input :days %>
        <%= f.input :content %>
        <%= f.submit %>
      <% end %>
 <img src="https://images.pexels.com/photos/4388167/pexels-photo-4388167.jpeg?cs=srgb&dl=pexels-spencer-davis-4388167.jpg&fm=jpg" alt="Jordania">
  </div>
</div>
