<div class="itinerary-main-container">
  <div class="container">
    <h2> Just one more thing</h2>
    <div class="itinerary-content">
    <%= @itinerary.content %>
      <% @days.each do |day| %>
          <div class="card-product">
            <% pic =  @stops.where(day: day)&.first&.photo&.key %>
            <%= cl_image_tag pic unless pic.nil?%>
            <div class="card-product-infos">
              <h2 class="day-header">Day <%= day %></h2>
              <% @stops.where(day: day).each do |stop| %>
                <ul>
                  <li><%= stop.title %></li>
                </ul>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <div id="map"
     style="width: 100%; height: 800px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>
