<div class="container new-itinerary-container">
  <h1>Add your itinerary stops</h1>
  <div class="form-new">
  <%= simple_form_for [ @itinerary, @stop ], html: {class: "grid"} do |stops|%>
    <%= stops.input :title %>
    <%= stops.input :day, collection: @days %>
    <%= stops.input :category, collection: ['Views', 'Monuments', 'Neighborhoods', 'Museums', 'Sports'] %>
    <%= stops.input :price %>
    <%= stops.input :address, id:'stop_address' %>
    <%= stops.input :content, as: :text %>
    <%= stops.input :photo, as: :file %>
    <%= stops.submit "Add stop", class: "btn-new-itinerary" %>
    <%= link_to "Finish", city_itinerary_path(@itinerary.city, @itinerary), class: "btn-new-stop" %>
    <% end %>
    <%= image_tag('new-stop-pic.png', class: "new-stop-pic") %>
  </div>
</div>
