<div class="home-banner wizard" data-controller="wizard">
  <div class="wizard-steps-container is--step-0" data-wizard-target="container">
    <%= image_tag 'world.svg', class: "world-background"%>
    <%= form_tag city_path(@barcelona), method: :get do %>

      <div class="wizard-steps-step wizard-steps-step-0">
        <h1>Travelsy</h1>
        <p>Travel made easy,<br>
        Squeeze the most out of your destination</p>
        <%= button_tag "Find your next trip", type: "button", class: "btn btn-flat",
          data: {
            action: "click->wizard#nextStep",
            next_step: 1
          } %>

      </div>

      <div class="wizard-steps-step wizard-steps-step-1">
        <h1>I would like to got to...</h1>
        <div class="col-6">
          <%= select_tag "department", options_for_select(City.all.map{|city| city.name})  %>
        </div>
        <%= button_tag "Next", type: "button", class: "btn btn-flat",
          data: {
            action: "click->wizard#nextStep",
            next_step: 2,
          } %>
          <%= button_tag "Previous", type: "button", class: "btn btn-flat",
          data: {
            action: "click->wizard#previousStep",
            previous_step: 0,
          } %>
      </div>

      <div class="wizard-steps-step wizard-steps-step-2">
        <h1>I want to go to the...</h1>
        <% ["mountain", "river", "city"].each do |stops| %>
          <%= label_tag "stops_#{stops}", stops %>
          <%= check_box_tag "stopss[]", stops %>
        <% end %>
        <%= button_tag "Next", type: "button", class: "btn btn-flat",
          data: {
            action: "click->wizard#nextStep",
            next_step: 3,
          } %>
          <%= button_tag "Previous", type: "button", class: "btn btn-flat",
          data: {
            action: "click->wizard#previousStep",
            previous_step: 1,
          } %>
      </div>

      <div class="wizard-steps-step wizard-steps-step-3">
        <h1>When I travel I like...</h1>
        <% ["party", "tourism", "museums"].each do |stops| %>
          <%= label_tag "stops_#{stops}", stops %>
          <%= check_box_tag "stopss[]", stops %>
        <% end %>
        <%= button_tag "Previous", type: "button", class: "btn btn-flat",
          data: {
            action: "click->wizard#previousStep",
            previous_step: 2,
          } %>
        <%= button_tag "Search", type: "submit", class: "btn btn-flat" %>
      </div>
    <% end %>
  </div>
</div>




<div class="home-cards-container">

    <div>
      <div class="container">
        <h1 id="home-header">How does Travelsy work?</h1>
          <%= image_tag 'home-page-route.png', class: "home-itinerary-image" %>
    </div>
    <div class="home-headers">
    <h2>Not sure where to go?</h2>
    <h4>Take a look at our most popular destinations</h4>
    </div>
    <div class="home-cards">
      <% @cities.each do |city| %>
          <%= link_to city_path(city) do %>
          <div class="home-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://source.unsplash.com/1600x900/?<%= city.name %>')">
            <h3><strong><%= city.name %></strong></h3>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
