<div class="home-banner wizard" data-controller="wizard">
  <div class="wizard-steps-container is--step-0" data-wizard-target="container">
    <%= image_tag 'world.svg', class: "world-background"%>
    <%= form_tag city_path(@barcelona), method: :get do %>

      <div class="wizard-steps-step wizard-steps-step-0">
        <h1>Travelsy</h1>
        <p>Travel made easy</p>
        <%= button_tag "Find your next trip", type: "button", class: "btn btn-flat",
          data: {
            action: "click->wizard#nextStep",
            next_step: 1
          } %>

      </div>

      <div class="wizard-steps-step wizard-steps-step-1">
        <div class="banner-body">
          <h1>I would like to go to</h1>
          <div class="dropdown-col-6">
            <%= select_tag "city", options_for_select(City.all.map{|city| city.name})  %>
          </div>
          <%= button_tag "Next", type: "button", class: "btn btn-flat",
            data: {
              action: "click->wizard#nextStep",
              next_step: 2,
            } %>
        </div>
      </div>

      <div class="wizard-steps-step wizard-steps-step-2">
          <div class="banner-body">
          <h1>I want to go to the</h1>
            <div class="mycheckboxes">
              <% ["beach", "mountain", "city", "desert",].each do |stops| %>
              <div class="mycheck">
                <%= label_tag "stops_#{stops}", stops %>
                <%= check_box_tag "stops[]", stops %>
              </div>
              <% end %>
            </div>
          <%= button_tag "Next", type: "button", class: "btn btn-flat",
            data: {
              action: "click->wizard#nextStep",
              next_step: 3,
            } %>
          </div>
      </div>


      <div class="wizard-steps-step wizard-steps-step-3">
        <div class="banner-body">
        <h1>When I travel I like...</h1>
        <% ["partying", "sightseeing", "eating out",].each do |stops| %>
          <%= label_tag "stops_#{stops}", stops %>
          <%= check_box_tag "stops[]", stops %>
        <% end %>
        <%= button_tag "Search", type: "submit", class: "btn btn-flat" %>
      </div>
      </div>
    <% end %>
  </div>
</div>

<div class="home-cards-container">
    <div>
      <h1 id="home-header1">Squeeze the most out of your destination</h1>
        <%= image_tag 'photographs.png', class: "travel-images" %>
      <div class="container">
        <h1 id="home-header2">How does Travelsy work?</h1>
          <%= image_tag 'home-page-route.png', class: "home-itinerary-image" %>
    </div>
    <div class="home-headers">
    <h1>Not sure where to go?</h1>
    <h4>Take a look at our most popular destinations</h4>
    </div>
    <div class="home-cards">
      <% @cities.each do |city| %>
          <%= link_to city_path(city) do %>
          <div class="home-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://source.unsplash.com/1600x900/?<%= city.name %>')">
            <h3><strong><%= city.name %></strong></h3>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
