
 <% if @city.name == "Barcelona" %>
  <div class='city-show-banner' style = "background-image: url('https://images.unsplash.com/photo-1523531294919-4bcd7c65e216?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')" >
      <div class="cs-description" >
            <h1>Best Itineraries For  <%= @city.name %> </h1>
            <h3>You are almost there </h3>

      </div>

    </div>
<% else %>
  <div class='city-show-banner' style = "background-image:   url('https://source.unsplash.com/1440x560/?<%= @city.name %>')" >
      <div class="cs-description" >
            <h1>Best Itineraries For  <%= @city.name %> </h1>
            <h3>You are almost there </h3>
      </div>
  </div>
<% end %>
  <%= link_to "Create an Itinerary", new_city_itinerary_path(@city), class: "btn-flat btn-create-itinerary"%>


<div class="cities-main-container">
  <div class="filters">
    <p> Filters</p>
<div class="interests">
    <p>Interest </p>
      <label class="container">
        <input type="checkbox">
        <span class="checkmark"></span> Art

      </label>

      <label class="container">
        <input type="checkbox">
        <span class="checkmark"></span> Eating Out
      </label>

    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span> Tourism
    </label>


    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span> Partying
    </label>
</div>


  <p> Days</p>

<div class="category">
    <p>Category</p>

    <label class="container">
    <input type="checkbox">
    <span class="checkmark"></span> Beach </label>

    <label class="container">
    <input type="checkbox">
    <span class="checkmark"></span> Mountain

  </label>

  <label class="container">
    <input type="checkbox">
    <span class="checkmark"></span> City

  </label>


  <label class="container">
    <input type="checkbox">
    <span class="checkmark"></span> Desert

  </label>
  </div>

  <p>Budget</p>
  <div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>

</div>

<div class="container cities-container">
    <div class = 'top-rated'>

      <h2>Top Rated Itineraries </h2>

      <div class="itinerary-cards">
         <% @city.itineraries.order('upvotes DESC').first(3).each do |itinerary| %>
         <%= link_to  city_itinerary_path(@city, itinerary) do %>
          <div class ="itinerary-card d-flex align-items-center justify-content-center" style = "background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://source.unsplash.com/500x500/?<%= @city.name %>')">
              <div class="days">
                <h1><strong><%= itinerary.days %> days </strong></h1>
              </div>

              <div class= "icons">
                <%= itinerary.upvotes %>
                <i class="fas fa-thumbs-up"></i>
              </div>
          </div>
          <% end  %>
          <% end  %>
      </div>

    </div>

    <hr class = "break" style="width:50%; text-align:center; margin-left:250px, height: 2px; ">




  <div class = 'three-day'>
      <h2>Best 3 Day Itineraries </h2>

      <div class="itinerary-cards">
         <% @city.itineraries.order('upvotes DESC').first(3).each_with_index do |itinerary,index| %>
         <%= link_to city_itinerary_path(itinerary) do %>
         <div class ="itinerary-card d-flex align-items-center justify-content-center" style = "background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://source.unsplash.com/500x500/?<%= @city.name %> <%=itinerary.stops[index].title %>&random=<%= itinerary.id %>')">
              <div class= "icons">
                <%= itinerary.upvotes %>
                <i class="fas fa-thumbs-up"></i>
              </div>
          </div>
          <% end  %>
          <% end  %>
      </div>

   </div>

   <hr class = "break" style="width:50%; text-align:center; margin-left:250px">



  <div class = "four-day">

    <h2>Best 4 Day Itineraries </h2>

    <div class="itinerary-cards">
         <% @city.itineraries.order('upvotes DESC').first(3).each_with_index do |itinerary, index| %>
         <%= link_to city_itinerary_path(itinerary) do %>
          <div class ="itinerary-card d-flex align-items-center justify-content-center" style = "background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://source.unsplash.com/500x500/?<%= @city.name %> <%=itinerary.stops[index].title %>&random=<%= itinerary.id %>')">
              <div class= "icons">
                <%= itinerary.upvotes %>
                <i class="fas fa-thumbs-up"></i>
              </div>
          </div>
          <% end  %>
          <% end  %>
    </div>

  </div>

</div>

</div>
