
 <% if @city.name == "Barcelona" %>
  <div class='city-show-banner' style = "background-image: url('https://images.unsplash.com/photo-1523531294919-4bcd7c65e216?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')" >
      <div class="cs-description" >
            <h1>Best itineraries for  <%= @city.name %> </h1>

            <h4>A 3 day itinerary is ideal for this destination </h4>
      </div>

    </div>
<% else %>
  <div class='city-show-banner' style = "background-image:   url('https://source.unsplash.com/1440x560/?<%= @city.name %>')" >
      <div class="cs-description" >
            <h1>Best itineraries for  <%= @city.name %> </h1>
            <h3> You're almost there </h3>
      </div>
  </div>
<% end %>
<div class="cities-main-container">
  <div class="filters" >
    <p> Filters</p>
<div class="interests">
    <p>Activities </p>
      <label class="container">
        <input type="checkbox">
        <span class="checkmark"></span> Eating Out
      </label>

    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span> Hiking
    </label>


    <label class="container">
      <input type="checkbox">
      <span class="checkmark"></span> Partying
    </label>
</div>


  <p> Days</p>

<div class="category">
    <p>Category</p>

    <label class="container">
    <input type="checkbox">
    <span class="checkmark"></span> Monuments </label>

    <label class="container">
    <input type="checkbox">
    <span class="checkmark"></span> Museums

  </label>

  <label class="container">
    <input type="checkbox">
    <span class="checkmark"></span>Neighbourhoods</label>


  <label class="container">
    <input type="checkbox">
    <span class="checkmark"></span> Views

  </label>
  </div>

  <p>Budget</p>
  <div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>

</div>



<div class="container cities-container">
    <div class='top-rated'>
      <h2 class="cities-headers">Top Rated Itineraries for <%= @city.name %></h2>

      <div class="itinerary-cards">
         <% @top_three.each do |itinerary| %>
         <%= link_to  city_itinerary_path(@city, itinerary) do %>
          <div class ="itinerary-card d-flex align-items-center justify-content-center" style = "background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path itinerary.photo.key %>'); background-size: cover; background-position: center;">
           <%= image_tag "https://kitt.lewagon.com/placeholder/users/monicasuy", class: "avatar-show-top", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

             <h1 class="days"><strong><%= itinerary.days %> days </strong></h1>

             <div class="itinerary-footer-top">
              <div class= "icons">
                  <%= itinerary.upvotes %>
                  <i class="fas fa-thumbs-up"></i>
              </div>
               <div class="cost">
                   <% if itinerary.total_cost > 50  %>
                      <h2 class="price"> €€€ </h2>
                    <% elsif itinerary.total_cost > 25 && itinerary.total_cost< 50 %>
                      <h2 class="price"> €€ </h2>
                    <% else %>
                      <h2 class="price"> € </h2>
                    <% end %>
               </div>
            </div>
          </div>
          <% end  %>
          <% end  %>
      </div>

    </div>

    <hr class="break" style="width:50%; text-align:center; margin-left:250px, height: 2px; ">


  <div class='three-day'>
      <h2 class="cities-headers">Best 3 Day Itineraries </h2>


      <div class="itinerary-cards">
         <% @top_three_day.each_with_index do |itinerary,index| %>
         <%= link_to city_itinerary_path(itinerary.city, itinerary) do %>
         <div class ="itinerary-card" style = "background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path itinerary.photo.key %>'); background-size: cover; background-position: center;">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/Dianabarr19", class: "avatar-show-top", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="itinerary-footer">
              <div class= "icons">
                  <%= itinerary.upvotes %>
                  <i class="fas fa-thumbs-up"></i>
              </div>
               <div class="cost">
                   <% if itinerary.total_cost > 50  %>
                      <h2 class="price"> €€€ </h2>
                    <% elsif itinerary.total_cost > 25 && itinerary.total_cost< 50 %>
                      <h2 class="price"> €€ </h2>
                    <% else %>
                      <h2 class="price"> € </h2>
                    <% end %>
               </div>
            </div>
         </div>
          <% end  %>
          <% end  %>
      </div>

   </div>

   <hr class="break" style="width:50%; text-align:center; margin-left:250px">



  <div class="four-day">

    <h2 class="cities-headers">Best 4-Day itineraries </h2>

    <div class="itinerary-cards">
         <% @top_four_day.each_with_index do |itinerary, index| %>
         <%= link_to city_itinerary_path(itinerary.city, itinerary) do %>
          <div class ="itinerary-card" style = "background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path itinerary.photo.key %>'); background-size: cover; background-position: center;">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/hmammado", class: "avatar-show-top", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="itinerary-footer">
              <div class= "icons">
                  <%= itinerary.upvotes %>
                  <i class="fas fa-thumbs-up"></i>
              </div>
               <div class="cost">
                   <% if itinerary.total_cost > 50  %>
                      <h2 class="price"> €€€ </h2>
                    <% elsif itinerary.total_cost > 25 && itinerary.total_cost< 50 %>
                      <h2 class="price"> €€</h2>
                    <% else %>
                      <h2 class="price"> € </h2>
                    <% end %>
               </div>
            </div>
          </div>
          <% end  %>
          <% end  %>
    </div>

  </div>


  <div class="create-itinerary">
    <div class="d-flex align-items-center justify-content-between create-itinerary__content">
      <h3>Didn't find what you were looking for?</h3>
    <%= link_to "Add an Itinerary", new_city_itinerary_path(@city), class: "btn-create-itinerary"%>
    </div>
  </div>

</div>

</div>
