
 <% if @city.name == "Barcelona" %>
  <div class='city-show-banner' style = "background-image: url('https://images.unsplash.com/photo-1523531294919-4bcd7c65e216?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')" >
      <div class="cs-description" >
            <h1>Best Itinenaries For  <%= @city.name %> </h1>
            <h3>You are almost there </h3>
      </div>
    </div>
<% else %>
  <div class='city-show-banner' style = "background-image: url('https://source.unsplash.com/1440x560/?<%= @city.name %>')" >
      <div class="cs-description" >
            <h1>Best Itinenaries For  <%= @city.name %> </h1>
            <h3>You are almost there </h3>
      </div>
  </div>
<% end %>


<h3> Find your itinerary for <%= @city.name %>  </h3>

<div class="container">

    <div class = 'top-rated'>

      <h2>Top Rated Itinenaries </h2>

      <div class="itinerary-cards">
         <% @city.itineraries.each do |itinerary| %>
          <div class = "itinerary-card" style = "background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://source.unsplash.com/1600x900/?<%= @city.name %>')">
              <%= itinerary.upvotes %>
              <%= itinerary.days %>
          </div>
          <% end  %>
      </div>
   <div>

</div>
